{% extends "auctions/layout.html" %}

<!-- inputs are: listing's title, description, starting bed, and optional URL image -->
{% block body %}
<h2>Create Listing</h2>

<form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}

    <label for="title">Title:</label>
    <input id="title" name="title" type="text">
    <label for="description">Description:</label>
    <input id="description" name="description" type="text">
    <label for="bid">Bid:</label>
    <input id="bid" name="bid" type="text">
    <label for="image">Image:</label>
    <input id="image" name="image" type="text">
    <label for="category">Category:</label>
    <input id="category" name="category" type="text">

    <input id="create_button" type="submit" value="Create">

</form>



{% endblock %}