{% extends "auctions/layout.html" %}

<!-- display the listing's title, description, current price, URL image if exists -->
{% block body %}
<h2>Active Listings</h2>
{% for listing in listings %}
    <h4>
        <a href="{% url 'listing_details' listing.listing_id %}">
            Listing {{listing.listing_id}}: {{listing.title}}
        </a>
    </h4>
    <ul>
        <li>Description: {{listing.description}}</li>
        <li>Current price: ${{listing.price}}</li>
        {% if listing.image_URL %}
        <li>Image: <img src="{{listing.image_URL}}" alt=""></li>
        {% endif %}
    </ul>
{% endfor %}
{% endblock %}