{% extends "auction/layout.html" %}

<!-- listing detals should have the following info: listing price, title, description, and image if exists -->
<!-- for the listing the user should be able to do the follwing: add it to watchlist, remove it from watchlist if it's already there, bid on it with largest bid constrain respected, if user owns the listing-they should be able to close it and thus the client with the largest bid gets it, if the user won the listing it should tell them that, user can comment on the listing -->
{% block body %}
<h2>listing details</h2>

{% endblock %}